body, html {
  background-color: #ededed;
  height: 100%;
}

.cart-section-all {
  height: 100%;
}

.cart-page {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 500px;
}

.header-cart {
  align-content: flex-end;
  align-items: center;
  background-color: rgb(48, 48, 46);
  display: flex;
  height: 100px;
  justify-content: center;
  margin-bottom: 3em;
  padding-top: 2em;
}

.header-cart .title-container-cart {
  align-items: center;
  color: white;
  display: flex;
  font-size: 24px;
  gap: 1em;
  left: 29px;
  position: absolute;
  top: 0;
}

.checkout span {
  font-size: 20px;
}

.back-home {
  align-self: flex-end;
  color: white;
  font-size: 30px;
  position: absolute;
  right: 30px;
  top: 28px;
}

.back-home svg {
  color: white;
}

.back-home a {
  align-items: center;
  display: flex;
  flex-flow: column;
  text-decoration: none;
}

.back-home a span {
  color: white;
  font-size: 20px;
}

.cart {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 0 2px rgb(0, 0, 0 / 33%);
  box-sizing: border-box;
  display: flex;
  margin-bottom: 2em;
  min-height: 400px;
  padding: 2em;
  width: 1200px;
}

.cart-items {
  display: flex;
  flex-flow: column;
  gap: 0.8em;
}

.cart-items hr {
  width: 90%;
}

.checkout {
  box-shadow: 0 1px 0 1px rgb(0, 0, 0 / 33%);
  display: flex;
  flex-flow: column;
  gap: 0.6em;
  height: 400px;
  padding: 1em;
  position: fixed;
  right: 150px;
  top: 160px;
  width: 300px;
}

.checkout h2 {
  font-size: 30px;
}

.checkout .total-price-cart {
  color: rgb(0, 0, 0 / 33%);
  font-size: 20px;
}

.checkout .off-price {
  color: #00a650;
  font-size: 16px;
}

.checkout .original-price {
  color: red;
  font-size: 12px;
}

.checkout-button a {
  background-color: #3483fa;
  border-radius: 8px;
  color: white;
  margin-top: 1em;
  padding: 15px;
  position: relative;
  text-decoration: none;
  top: 30px;
}

.checkout-button:hover {
  transform: scale(1.02);
}

.free-shiping-cart {
  font-size: 14px;
}
