body {
  margin: 0;
  background-color: #f6f4f4;
  height: 100%;
  font-family: sans-serif, -apple-system, "Proxima Nova",  BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Arial', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background: #ededed;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
